#section-1 .carousel-item {
    height: 100vh;
    width: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; }

#section-1 .col {
    padding-right: unset;
    padding-left: unset; }

#section-1 .content_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5); }

#section-1 .the_content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: auto;
    color: #fff;
    max-width: 800px;
    text-align: center; }

#section-1 li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2em; }

@media (max-width: 767px) {
    #section-1 .carousel-item {
        background-attachment: scroll; }
    #section-1 li {
        display: none !important; } }

@media (max-width: 900px) {
    #section-1 .the_content {
        padding: 2.2em;
        padding-top: 20%; }
    #section-1 .the_content br {
        display: none; } }

.header-text {
    font-size: 2em;
    padding-bottom: 1em;
}
